@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: #6E5C62;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #222222;
    font-family: 'Mitr', sans-serif;
    display: flex;
    align-items: center;
    color: rgb(250,250,255);
}

.jogos{
    padding-left: 12.42px;
    padding-right: 12.42px;
    margin: 0;
    height: 36.8281px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#img{
    width: 100%;
}

#info{
    height: 20px;
    float: right;
}
.nav{
    display: flex;
    justify-content: space-between;
}


.button{
    border: 2px solid #B7AEB4;
    border-radius: 20%;
    display: flex;
    height: 30px;
    background-color: transparent;
    width: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 2.7px;
    margin-top: 10px;
}

.termo{
    font-family: 'Mitr', sans-serif;
    font-size: 40px;
    color: #FAFAFF;
    font-size: 400;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes{
    width: 54px;
    height: 64.8px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(5, 58px);
    gap: 4px;
    justify-content: center;
    margin-top: 120px;
}

.qcerto{
    background-color: rgb(211, 173, 105);
}
.certo{
    background-color: rgb(58, 163, 148);
}
.errado{
    background-color: rgb(49, 42, 44);
}

.letra{
    height: 58px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
    color: #FAFAFF;
    font-size: 43px;
    
}

#teclado{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#topbar{
    width: 100%;
}

#dictionary{
    padding: 5px;
    height: 22px;
}

#about{
    background-color: #312B2D;
    height: 370px;
    width: 90%;
    position: fixed;
    right: 10px;
    left: 10px;
    top: 200px;
    padding: 10px;
    z-index: 2;
    border-radius: 2%;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    color: #FAFAFF;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }